{% extends  'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<!-- Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content%}
<div class="container-fluid">
  <div id="post">
    <div class="col-sm-8">
      {{format_post|safe}}
    </div>
  </div>
</div>

    <div class="container-fluid">
      <div class="posts">

        <div class="col-md-4" style="margin-left:5vw;">

          {{ wtf.quick_form(comment_form) }}
          {{simplemde.load}}
        </div>
      </div>
    </div>

      <div id="card" style="margin-top:-20vh;">
        <div class="container">
        <p style="font-size:3em;margin-left:-30vw;color:black;text-decoration: underline">Your Comments</p>
        {% for comment in comment %}
<!-- Card -->
      <div class="card" style="margin-left:31vw;">
        <div class="row">
          <div class="col-md-9">

          <!-- Card content -->
          <div class="card-body">

          <ul>
            <!-- Text -->
            <li class="card-text" style="color:white;font-size:2em">{{comments.comment}}</li>
            <!-- Button -->
          </ul>
        </div>
        </div>
      </div>
    </div>
  </div>
<!-- Card -->
{%endfor%}

</div>

{% endblock %}
